body{
    background-color:rgb(3, 33, 26);
}
div{
    display: inline-block;
    padding: 0px;
    border-style: solid;
    border-radius: 100px;
    width:500px;
    height:500px;
    background-color: rgb(215, 150, 21);
}
.classdiv1{
    position: absolute;
    top:0px;
    left:0px;

}
.classdiv2{
    position:absolute;
    top:0px;
    right:0px;

}
.classdiv3{
    position:absolute;
    bottom:0px;
    left:0px;
}
.classdiv4{
    position:absolute;
    bottom:0px;
    right:0px;
}